doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Real time web chat

    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/site.css')

    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container

      h1 Simple Chat
      .row
        .col-md-3.col-xs-12
          .form-group
            label(for="name") Your name: 
          input.form-control#name

      .row
        .col-xs-12
          pre.form-control#content
      
      .row
        .col-md-10.col-xs-8
          input.form-control#field
        .col-md-2.col-xs-4
          button.btn.btn-default.glyphicon.glyphicon-ok#send

    script(src='/js/vendor/jquery.min.js')
    script(src='/js/vendor/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/configuration.js')
    script(src='/js/chat.js')
